{% extends 'layout.html' %}

{% block content%}

{% endblock %}

{% block heading %} Innovations in Water Conservation {% endblock %}

{% block body %}
  <h4>Innovative technologies</h4>
  <ul>
    <li><a href="https://www.greenprophet.com/2009/09/the-sodis-method-recycles-plastic-bottles-and-provides-safer-drinking-water/">Purifying contaminated water supplies in SODIS plastic bottles</a></li>
    <li>It can take as much as 2,700 litres of water to make a <a href="https://www.worldwildlife.org/stories/the-impact-of-a-cotton-t-shirt">cotton t-shirt</a>, while jeans can guzzle almost 10,000 litres of water per pair. This is why companies such as LEvi's have started inititives such as the has a finishing technique called ‘Water Less’, that uses 96 per cent less water than traditional methods. The company has made some 13 million ‘Water Less’ products since launching the initiative in 2011, and saved 172 million litres of water in the process.</li>
    <li>In a bid to convert some of the world’s most arid areas into fertile fruit and vegetable farms, scientists around the world have developed ways to turn seawater into fresh water using solar energy.</li>
  </ul>
{% endblock %}
